<mat-card class="card-sidebar">
    <mat-card-header>
        <div mat-card-avatar class="header-image"></div>
        <mat-card-title class="color-white text-cont-sidebar">Alexandra Pierce</mat-card-title>
        <mat-card-subtitle class="color-white text-icon-sidebar mg-t-8">
            <mat-icon class="icon-online text-icon-sidebar">lens</mat-icon>
            Online
        </mat-card-subtitle>
    </mat-card-header>
</mat-card>

<mat-toolbar class="main-sidebar">MAIN NAVIGATION</mat-toolbar>

<mat-expansion-panel class="card-sidebar border-sidebar">
    <mat-expansion-panel-header>
        <mat-panel-title class="card-sidebar color-white text-cont-sidebar">
            <mat-icon aria-hidden="false" class="text-icon-sidebar">dashboard</mat-icon>
            <a>Dashboard</a>
        </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-list>
        <mat-list-item class="card-sidebar color-white" routerLinkActive="active" [routerLink]="['/form']">
            Nuevo
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item class="card-sidebar color-white" routerLinkActive="active" [routerLink]="['/dashboard']">
            Estadísticas
        </mat-list-item>
    </mat-list>
</mat-expansion-panel>

<mat-expansion-panel class="card-sidebar border-sidebar">
    <mat-expansion-panel-header>
        <mat-panel-title class="card-sidebar color-white text-cont-sidebar">
            <mat-icon aria-hidden="false" class="text-icon-sidebar">filter_drama</mat-icon>
            <a>Clima</a>
        </mat-panel-title>
    </mat-expansion-panel-header>

    <app-weather></app-weather>

</mat-expansion-panel>